name: .NET CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    services:
      mongodb:
        # Use the official MongoDB Docker image
        image: mongo:latest
        ports:
          - 27017:27017
    # -----------------------------------

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 9.0.x

    - name: Restore dependencies
      run: dotnet restore

    - name: Build
      run: dotnet build --no-restore

    - name: Test
      run: dotnet test BookApi.NET.Tests/BookApi.NET.Tests.csproj --no-build --verbosity normal
      env: # <-- ADD THIS ENTIRE 'env' BLOCK
        Google__ClientId: ${{ secrets.GOOGLE_CLIENT_ID }}
        Google__ClientSecret: ${{ secrets.GOOGLE_CLIENT_SECRET }}